body {
  margin: 0;
  background: #bbb;
}

.invader {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: 0;
  background: green;
  visibility: hidden;
}

.second-row {
  bottom: 50px;
}

.third-row {
  bottom: 100px;
}